<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 id="headline">Jetzt testen</h1>
    <hr />
    <p class="lead">
      Probier es aus! Ein Anruf an die <kbd>01579-9912345</kbd> genügt und Dein
      Anruf erscheint sofort auf dieser Website - Live!
    </p>
  </div>
</div>
<div id="demo" class="row">
  <div class="col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <div id="number">Deine Rufnummer erscheint hier</div>
      </div>
    </div>
    <div id="dotted-line" class="hidden-xs"></div>
  </div>
  <div class="hidden-xs col-sm-4 col-md-3">
    <img id="phone" src="/img/phone.png" alt="Phone" class="pull-right" />
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h3 class="text-center">Eingegangene Anrufe erfolgten von</h3>
    <div class="panel panel-default">
      <table id="log" class="table table-striped">
        <thead>
          <tr>
            <th>Anrufernummer</th>
            <th>Angerufene Nummer</th>
            <th>Uhrzeit</th>
            <th class="hidden-xs">Anrufrichtung</th>
            <th class="hidden-xs">Status</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <p>
      Um sipgate.io zu testen, kannst Du die URL
      <code>https://demo.sipgate.io/</code> in Deinem Account eintragen und
      anschließend Deine Nummer anrufen. Du solltest Deinen Anruf in Echtzeit
      auf dieser Seite sehen!
    </p>
  </div>
</div>
