<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 id="headline">Kreative Telefonie mit sipgate.io</h1>
		<hr>
		<p class="lead">Mit sipgate.io kannst Du als <a href="https://www.simquadrat.de" target="_blank">simquadrat</a> oder <a href="https://www.sipgate.de/go" target="_blank">sipgate basic</a> Kunde eingehende Anrufinformationen in Echtzeit an Deinen eigenen Webserver übergeben. So kannst Du dann z.B. live sehen, auf welcher Nummer Du gerade angerufen wirst oder Du kannst dem Anrufer direkt eine Abwesenheitsmail senden. Außerdem können Anrufe an eine Rufnummer oder direkt an die Voicemail weitergeleitet werden.</p>
		<p Class="lead">Mit sipgate.io und Deinen kreativen Fähigkeiten kannst Du aber auch z.B. Deine Heizung von unterwegs steuern und viele andere lustige Sachen machen. Deiner Phantasie sind dabei (fast) keine Grenzen gesetzt. Ein paar Beispiele findest Du weiter unten und auf unserer <a href="https://github.com/sipgate/sipgate.io#server-examples" target="_blank">GitHub-Seite</a>.</p>
		<p Class="lead">Alles was Du dafür brauchst, ist ein <a href="https://www.simquadrat.de/feature-store/sipgate.io" target="_blank">simquadrat-</a> oder <a href="https://www.sipgate.de/go/feature-store/sipgate.io" target="_blank">sipgate basic-Account</a>, in dem Du das kostenlose sipgate.io Feature buchen kannst, einen eigenen Webserver und ein paar Programmierkenntnisse.</p>
	</div>
</div>

<div class="row description-images">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-sm-6 text-center">
				<a href="https://www.simquadrat.de/feature-store/sipgate.io"><img src="https://www.simquadrat.de/img/static/simquadrat_api_btn.png" alt="API"/></a>
			</div>
			<div class="visible-xs text-center plus-xs">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div class="hidden-xs col-sm-12 text-center plus">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div class="col-sm-6 text-center">
				<a href="https://github.com/sipgate/sipgate.io"><img src="https://www.simquadrat.de/img/static/your_code_btn.png" alt="API"/></a>
			</div>
		</div>
	</div>
</div>

<div class="row description-images">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-sm-6 text-center">
				<a href="https://www.sipgate.de/go/feature-store/sipgate.io"><img src="https://www.sipgate.de/go/img/static/basic_api_btn.png" alt="API"/></a>
			</div>
			<div class="visible-xs text-center plus-xs">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div class="hidden-xs col-sm-12 text-center plus">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div class="col-sm-6 text-center">
				<a href="https://github.com/sipgate/sipgate.io"><img src="https://www.sipgate.de/go/img/static/your_code_btn.png" alt="API"/></a>
			</div>
		</div>
	</div>
</div>
