<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 id="headline">Was ist das?</h1>
		<hr />
		<p class="lead">Die Anrufmonitoring-Funktionalität ermöglicht es Nutzern der simquadrat Push API, Informationen über eingehende Anrufe in Echtzeit an einen eigenen Webservice zu übergeben. Nicht nur, dass sie nun die Möglichkeit haben, live zu sehen, auf welcher Ihrer simquadrat Nummern Sie angerufen wurden. Sie können sogar Ihre Heizung steuern oder dem Anrufer eine Abwesenheitsmail schicken. Ihrer Phantasie sind keine Grenzen gesetzt.</p>
	</div>
</div>
<div id="description-images" class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-sm-6 text-center">
				<a href="https://www.simquadrat.de/feature-store/push-api"><img src="https://www.simquadrat.de/img/static/simquadrat_api_btn.png" alt="API"/></a>
			</div>
			<div id="plus-xs" class="visible-xs text-center">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div id="plus" class="hidden-xs col-sm-12 text-center">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div class="col-sm-6 text-center">
				<a href="https://github.com/sipgate/Push-API"><img src="https://www.simquadrat.de/img/static/your_code_btn.png" alt="API"/></a>
			</div>
		</div>
	</div>
</div>

