<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 id="headline">Was ist das?</h1>
		<hr />
		<p class="lead">Mit sipgate.io kannst Du als simquadrat Kunde eingehende Anrufinformationen in Echtzeit an Deinen eigenen Webservice 체bergeben. So kannst Du nicht nur live sehen, auf welcher Nummer Du angerufen wirst oder dem Anrufer direkt eine Abwesenheitsmail schicken, sondern mit einem Anruf sogar Deine Heizung steuern oder die Alarmanlage anschalten. Deiner Kreativit채t sind keine Grenzen gesetzt!</p>
		<br>
		<p Class="lead">Alles was Du daf체r brauchst ist das sipgate.io Feature, einen eigenen Webservice und ein wenig Programmierkenntnisse. sipgate.io sendet dann bei Anrufen einen POST-Request an eine von Dir festgelegte URL und 체bergibt die Nummer des Anrufers sowie die angerufene Nummer an Dein eigenes Skript.</p>
	</div>
</div>
<div id="description-images" class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-sm-6 text-center">
				<a href="https://www.simquadrat.de/feature-store/sipgate.io"><img src="https://www.simquadrat.de/img/static/simquadrat_api_btn.png" alt="API"/></a>
			</div>
			<div id="plus-xs" class="visible-xs text-center">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div id="plus" class="hidden-xs col-sm-12 text-center">
				<i class="fa fa-plus fa-lg"></i>
			</div>
			<div class="col-sm-6 text-center">
				<a href="https://github.com/sipgate/sipgate.io"><img src="https://www.simquadrat.de/img/static/your_code_btn.png" alt="API"/></a>
			</div>
		</div>
	</div>
</div>
