<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h1>Codebeispiele</h1>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#nodejs" role="tab" data-toggle="tab">Node.js</a></li>
			<li><a href="#perl" role="tab" data-toggle="tab">Perl</a></li>
			<li><a href="#python" role="tab" data-toggle="tab">Python</a></li>
			<li><a href="#ruby" role="tab" data-toggle="tab">Ruby</a></li>
			<li><a href="#go" role="tab" data-toggle="tab">Go</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="nodejs">
				<% include code_examples/node %>
			</div>
			<div class="tab-pane" id="perl">
				<% include code_examples/perl %>
			</div>
			<div class="tab-pane" id="php">
				<% include code_examples/php %>
			</div>
			<div class="tab-pane" id="python">
				<% include code_examples/python %>
			</div>
			<div class="tab-pane" id="ruby">
				<% include code_examples/ruby %>
			</div>
			<div class="tab-pane" id="go">
				<% include code_examples/go %>
			</div>
		</div>
	</div>
</div>
