<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Codebeispiele</h1>
		<hr />
		<p class="lead">Alles was Du benötigst, ist ein Webservice, der die POST Parameter <code>from</code> und <code>to</code> auswertet:</p>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#clojure" role="tab" data-toggle="tab">Clojure</a></li>
			<li><a href="#go" role="tab" data-toggle="tab">Go</a></li>
			<li><a href="#java" role="tab" data-toggle="tab">Java</a></li>
			<li><a href="#commonlisp" role="tab" data-toggle="tab">Lisp</a></li>
			<li><a href="#nodejs" role="tab" data-toggle="tab">Node.js</a></li>
			<li><a href="#perl" role="tab" data-toggle="tab">Perl</a></li>
			<li><a href="#php" role="tab" data-toggle="tab">PHP</a></li>
			<li><a href="#python" role="tab" data-toggle="tab">Python</a></li>
			<li><a href="#ruby" role="tab" data-toggle="tab">Ruby</a></li>
			<li><a href="#scala" role="tab" data-toggle="tab">Scala</a></li>
			<li><a href="#shell" role="tab" data-toggle="tab">Shell</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="nodejs">
				<% include examples/node %>
			</div>
			<div class="tab-pane" id="perl">
				<% include examples/perl %>
			</div>
			<div class="tab-pane" id="php">
				<% include examples/php %>
			</div>
			<div class="tab-pane" id="python">
				<% include examples/python %>
			</div>
			<div class="tab-pane" id="ruby">
				<% include examples/ruby %>
			</div>
			<div class="tab-pane" id="scala">
				<% include examples/scala %>
			</div>
			<div class="tab-pane" id="shell">
				<% include examples/shell %>
			</div>
			<div class="tab-pane" id="go">
				<% include examples/go %>
			</div>
			<div class="tab-pane" id="commonlisp">
				<% include examples/commonlisp %>
			</div>
			<div class="tab-pane active" id="clojure">
				<% include examples/clojure %>
			</div>
			<div class="tab-pane active" id="java">
				<% include examples/java %>
			</div>
		</div>
	</div>
</div>
