<div id="footer" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Entwickeln Sie jetzt Ihren eigenen Code</h1>
		<hr />
		<p class="lead">Auf unserer GitHub-Seite finden Sie eine Dokumentation sowie Code-Beispiele, damit Sie schnell loslegen können.</p>
		<a href="https://github.com/sipgate/Push-API" class="btn btn-primary btn-lg"><i class="fa fa-github fa-lg"></i> Dokumentation ansehen</a>
	</div>
</div>
