<div id="footer" class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h1>Entwickeln Sie jetzt Ihren eigenen Code</h1>
		<p class="lead">Auf unserer GitHub-Seite finden Sie eine Dokumentation sowie Code-Beispiele, damit Sie schnell loslegen können.</p>
		<a href="http://www.google.com" class="btn btn-primary btn-lg">Download on GitHub</a>
	</div>
</div>
