<div id="header" class="row">
	<div class="col-xs-12 text-center">
		<img src="https://www.simquadrat.de/img/static/sipgateio_logo.png" alt="Header"/>
		<h1>sipgate.io — die Telefonie-API</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<a href="javascript:" data-url="https://www.facebook.com/sharer/sharer.php?u=sipgate.io" class="btn-social"><i class="fa fa-facebook"></i><span class="btn-span"> Share</span></a>
		<a href="javascript:" data-url="http://twitter.com/home?status=Anrufmonitoring API von %23sipgate - sipgate.io" class=" btn-social"><i class="fa fa-twitter"></i><span class="btn-span"> Tweet</span></a>
		<a href="javascript:" data-url="https://plus.google.com/share?url=sipgate.io" class="btn-social"><i class="fa fa-google-plus"></i><span class="btn-span"> Share</span></a>
		<a href="https://github.com/sipgate/sipgate.io" class="github-button button-outline" data-icon="octicon-star" data-style="mega" data-count-href="/sipgate/sipgate.io/stargazers" data-count-api="/repos/sipgate/sipgate.io#stargazers_count">Star</a>
		<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	</div>
</div>
<hr>
