<div id="header" class="row">
	<div class="col-xs-12 text-center">
		<img src="/img/header.png" alt="Header"/>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.simquadrat.de/feature-store/push-api" onclick="window.open(this.href,'#','width=600,height=400');return false;" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-lg"></i><span class="hidden-xs"></span></a>
		<a href="http://twitter.com/home?status=Push%20API%20von%20%23simquadrat%3A%20https%3A%2F%2Fwww.simquadrat.de%2Ffeature-store%2Fpush-api" onclick="window.open(this.href,'#','width=600,height=400');return false;" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i><span class="hidden-xs"></span></a>
		<a href="https://plus.google.com/share?url=https://www.simquadrat.de/feature-store/push-api" onclick="window.open(this.href,'#','width=600,height=400');return false;" class="btn btn-default btn-lg"><i class="fa fa fa-google-plus fa-lg"></i><span class="hidden-xs"></span></a>
		<a href="https://github.com/sipgate/push-api-demo-page/" target="_blank" class="btn btn-primary btn-lg pull-right"><i class="fa fa-github fa-lg"></i><span class="hidden-xs"> Diese Seite bei GitHub herunterladen</span></a>
	</div>
</div>
<hr />