<div id="header" class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
		<img src="/img/header.png" alt="Header"/>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<a href="http://www.google.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> Share</a>
		<a href="http://www.google.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> Tweet</a>
		<a href="http://www.google.com" class="btn btn-default btn-lg"><i class="fa fa fa-google-plus fa-fw"></i> +1</a>
		<a href="http://www.google.com" class="btn btn-primary btn-lg pull-right">Download on GitHub</a>
	</div>
</div>
<hr />
