<div id="header" class="row">
	<div class="col-xs-12 text-center">
		<img src="/img/header.png" alt="Header"/>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<a href="javascript:" data-url="https://www.facebook.com/sharer/sharer.php?u=sipgate.io" class="btn btn-social btn-default btn-lg"><i class="fa fa-facebook fa-lg"></i></a>
		<a href="javascript:" data-url="http://twitter.com/home?status=Anrufmonitoring API von %23sipgate - sipgate.io" class="btn btn-default btn-lg btn-social"><i class="fa fa-twitter fa-lg"></i></a>
		<a href="javascript:" data-url="https://plus.google.com/share?url=sipgate.io" class="btn btn-default btn-lg btn-social"><i class="fa fa-google-plus fa-lg"></i></a>
	</div>
</div>
<hr />
