<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h1>Live testen</h1>
		<p class="lead">Probieren Sie es einfach aus! Ein Anruf auf die <kbd>01579 1234567</kbd> genügt und Ihr Anruf erscheint sofort auf dieser Website - Live!</p>
	</div>
	<div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
		<div id="phone-number-box" class="panel panel-default">
			<div class="panel-body text-center">
				<span id="number">0211 12345XXX</span>
			</div>
		</div>
	</div>
	<div class="hidden-xs col-sm-1 col-md-1">
		<hr id="dots" />
	</div>
	<div class="hidden-xs col-sm-4 col-md-3">
		<img id="phone" src="/img/phone.png" alt="Phone" class="pull-right"/>
	</div>
	<div id="phone-number-table" class="col-xs-12 col-sm-8 col-sm-offset-2">
		<h3 class="text-center">Eingegangene Anrufe erfolgten von</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Anrufernummer</th>
					<th>Angerufene Nummer</th>
					<th>Uhrzeit</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<small><strong>Hinweis:</strong> Bla bla Datenschutz und bei Heroku</small>
	</div>
</div>
