<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<h1>Demo - API live testen</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<div id="phone-number-box" class="alert alert-info text-center">
			<kbd id="number">01579 1234567</kbd>
		</div>
	</div>
	<div id="phone-number-table" class="col-xs-12 col-sm-8 col-sm-offset-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Anrufernummer</th>
					<th>Angerufene Nummer</th>
					<th>Uhrzeit</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<small><strong>Hinweis:</strong> Bla bla Datenschutz und bei Heroku</small>
	</div>
</div>
