h1 {
	margin-top: 120px;
	margin-bottom: 0;
}
h1 ~ hr {
	margin-top: 10px;
	margin-bottom: 20px;
}

pre {
	background-color: #fff;
	border-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color: #ddd;
}

#header {
	margin-bottom: 20px;
	background-image: url("/img/pattern.png");
	box-shadow: 0px -1px 5px #888888 inset;
}

#header img {
	max-width: 650px;
	max-height: 368px;
	width: 100%;
	height: 100%;
}

#headline {
	margin-top: 60px;
}

#description-images {
	margin-top: 30px;
}

#plus {
	position: absolute;
	top: 40%;
}
#plus-xs {
	margin: 10px 0;
}

#demo {
	margin-top: 60px;
	margin-bottom: 60px;
}

#number {
	font-size: 30px;
}

#dotted-line {
	height: 150px;
	width: 63%;
	margin-left: 50%;
	border-left: 2px dashed #aacbd8;
	border-bottom: 2px dashed #aacbd8;
}
@media (max-width: 1200px) {
	#dotted-line {
		width: 53%;
	}
}

#footer {
	margin-bottom: 120px;
}
